<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Thinksys.restfulbooker.HealthCheckTest"/>
      <class name="com.Thinksys.restfulbooker.PartialUpdateBookingTest"/>
      <class name="com.Thinksys.restfulbooker.GetBookingsTest"/>
      <class name="com.Thinksys.restfulbooker.GetBookingsByIdTest"/>
      <class name="com.Thinksys.restfulbooker.UpdateBookingTest"/>
      <class name="com.Thinksys.restfulbooker.CreateBookingsTest"/>
      <class name="com.Thinksys.restfulbooker.DeleteBooking"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
